<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

    const PostDetailApp = {
        delimiters:['[[',']]'], 
        
        data() { 
            return {
                post:{},
                prevPost:{},
                nextPost:{},
                cateList:[],
                tagList:[],
                commentList:[],
            };
        },
        created() { // created(요소가 생성되는 단계)단계에서 아래 작업을 수행 
            console.log("created()..."); // 콘솔에 로그를 찍음
            const postId = location.pathname.split('/')[3]; // 게시글 목록들 가져옴
            console.log(postId);
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },
        methods: {


            fetchPostDetail(postId) {
                axios.get(`/api/post/${postId}`)
                .then(res => { // axios.get 이 성공을 하면 아래 코드를 수행
                    console.log("FETCH POSTDETAIL GET RES",res);
                    this.post = res.data.post;
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                    this.commentList = res.data.commentList;
                })
                .catch(err => { // axios.get 이 실패 했을경우 아래 코드를 수행
                    console.log("FETCH POSTLIST GET ERR.RESPONSE",err.response);
                    alert('${err.response.status}${err.response.statusText}');
                })
            },

            fetchCateTagList() {
                console.log('fetchCateTagList()...')

                axios.get('/api/catetag')
                .then(res => {
                    console.log('FETCH CATETAG LIST RES',res);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err => {
                    console.error('Error fetching catagory and tag list:', err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                })
            },

            serverPage(category='', tag='') {
                console.log("serverPage()...",category, tag);

                if (category && tag) alert(`serverPage() both args Error ${category} and ${tag}`);
                else if (category) location.href = `/?category=${category}#portfolio`;
                else if (tag) location.href=`/?tag=${tag}#portfolio`
                else location.href = `/#portfolio`
            },  

            likeCount(idPost) {
                console.log('likeCount()...', idPost);
                
                axios.get(`/api/like/${idPost}/`)
                .then(res=>{
                    console.log('LIKE-Count GET RES',res)
                    this.post.like = res.data;
                })
                .catch(err => {
                    console.error('Error fetching catagory and tag list:', err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });

            },

                

            submitForm(){
                console.log('submitForm()...');
                let formdata = new FormData(document.querySelector('#comment-form'));
                formdata.set('post',this.post.id)
                axios.post('/api/comment/create/', formdata)
                    .then(res=>{
                        console.log('create-comment-post-res',res)
                        this.commentList.push(res.data);
                    })
                    .catch(err => {
                        console.error('create-comment-get-err.response:', err.response);
                        alert(`${err.response.status}${err.response.statusText}`);
                    })
                    
            }
        },

    };


    Vue.createApp(PostDetailApp).mount('#page-top');
</script>