{% extends "base.html" %}

{% load static %}

{% block extra-style %}
<style>
    .my-img-h300 {
        width:100%;
        height:300px;
        object-fit:fill;
    }

    .content-style {
        font-weight: bold;
        text-align: center;
    }
    .prevPost {
        cursor: pointer;
    }
    .prevPost:hover {
        color: blue;
    }
    .nextPost {
        cursor: pointer;
    }
    .nextPost:hover {
        color: blue;
    }

    .my-link {
        cursor:pointer;
    }

    .my-link:hover {
        color:blue;
    }

    .my-like:hover {
        cursor:pointer;
        color:red;
    }
</style>
{% endblock %}

        {% block content %}
        <section class="page-section" id="post">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">[[post.title]]</h1>
                            <hr>
                            <p>
                                <span>[[post.update_dt]]&emsp;</span>
                                <i class="fas fa-copyright"></i> &nbsp;
                                <span class='my-link' @click="serverPage(post.category,'')">[[post.category]]&emsp;</span>
                                <i class="fas fa-tag"></i> &nbsp;
                                <span v-for = "(tag, index) in post.tags" :key='index'>
                                    <span v-if='index !==0'>,</span>
                                    <span class='my-link' @click="serverPage('',tag)">[[tag]]&emsp;</span>
                                </span>
                                <span  @click='likeCount(post.id)'>
                                    <i class="fas fa-heart my-like"></i> &nbsp;
                                </span>
                                <span>[[post.like]] &nbsp;</span>
                            </p>
                            <hr>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded my-img-h300" :src="post.image" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                           <p class="fs-5 mb-5 content-style">[[post.content]]</p>
                        </section>
                    </article>

                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" id="comment-form">
                                <textarea name="content" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!">
                                </textarea>
                                <div class="d-flex justify-content-end mt-1">
                                    <div class="btn btn-primary btn-sm" @click="submitForm">SUBMIT</div>
                                </div>
                                </form>
                                <!--comment list-->
                                
                                <div v-for="comment in commentList" :key="comment.id" class="d-flex mb-4">
                                    <div class="flex-shrubj-0 my-comment-icon">
                                    <i class="fas fa-user-circle"></i>
                                    </div>
                                

                                <div class='ms-3'>
                                    <div class="fw-bold">[[comment.update_dt]]</div>
                                    <div class='mycontent'>[[comment.content]]</div>
                                </div>
                                </div>
                                <!-- Single comment-->
                               
                            </div>
                        </div>
                    </section>
                </div>
            </sectoin>

                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    <!--Preview post-->
                    <div class="card mb-4">
                        <div class="card-header">Preview Post</div>
                        <div class="card-body prevPost" @click="fetchPostDetail(prevPost.id)">[[prevPost.title]]</div>
                    </div>
                   
                    <!--next post-->
                    <div class="card mb-4">
                        <div class="card-header">Next Post</div>
                        <div class="card-body nextPost" @click="fetchPostDetail(nextPost.id)">[[nextPost.title]]</div>
                    </div>


                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <span v-for="(category, index) in cateList" :key='category.id'>
                            <span v-if='index !==0'>&emsp;</span>
                                <span class='text-success my-link' @click="serverPage(category,'')">[[category]]</span>
                            </span>
                        </div>
                    </div>
                    
                    <!-- tags widget-->
                    <div class="card mb-4">
                        <div class="card-header">tags</div>
                        <div class="card-body">
                            <span v-for="(tag, index) in tagList" :key='tag.id'>
                                <span v-if='index !==0'>&emsp;</span>
                                <span class='text-success my-link' @click="serverPage('',tag)">[[tag]]</span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </section>
        {% endblock %}
        

        {% block footer %}
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block extra-script %}
        {%  include 'include/post_detail_vue.html'  %}
        {% endblock %}

 

